<!DOCTYPE html>
<html>
<head>
  <title>Import Page</title>

</head>
<script>
function check()
{   
	description=getElementById('description');
	type=getElementById('type');
	vendor=getElementById('vendor');
	filepath=getElementById(filepath);
	distributedsite=getElementById(distributedsite);
	localsite=getElementById('localsite');
	sku=getElementById('sku');
	price=getElementById('price');
		
	if (description.value=="" || type.value=="" || vendor.value=="" || filepath.value=="" || distributedsite.value=="" || localsite.value="" ||sku.value=="" || price.value="")   
	{      
		alert('You have not yet filled out all of the information');
	     return false;   
	}   
	
	return true;
}
</script>



<body>

  <h2>Bulk Products Import</h2>

  <form method="GET" id = "productform" action="upload" >
    
   

<div id="container" style="width:500px">
	<div style="width:450px">
		<label>Description:</label>
	    <input type="text" id="description" name="description" placeholder="description"/>
	    <hr>
    </div>
        <div style="width:450px">
	    <label>Type</label>
	    
	    <select id="type" name="type">
			  <option value="Apple iPhone 5s">Apple iPhone 5s</option>
			  <option value="Apple iPhone 4s">Apple iPhone 4s</option>
			  <option value="Apple iPhone 4">Apple iPhone 4</option>
			  <option value="SamSung Galaxy 5">SamSung Galaxy 5</option>
			</select>
	   <!-- <input type="text" name="type" placeholder="Apple iPhone 5s"/> -->
    	<hr>
    </div>

    <div style="width:450px">
	    <label>Vendor</label>
	    <input type="text" id="vendor" name="vendor" placeholder="Design Skinz, INC"/>
    	<hr>
    </div>

	<div id="container">
	  	<div style="width:450px">
	    <!-- <input type="file" name="filepath" id="file_input" webkitdirectory directory  /> -->
	    <input type="file" id="filepath" name="filepath" id="filepath" webkitdirectory directory  ">
	</div>
	<div style="width:450px">    
	    <label>distributedsite</label>
	    <input type="text" id="distributedsite" name="distributedsite" value="http://shopify-bulkimport.softchallenge.net/images/" />
	</div>
	<div style="width:450px">       
	    <label>localsite</label>
	    <input type="text" id="localsite" name="localsite" placeholder="folder absolute path">
	    <hr>
    </div>
        <div style="width:450px">
	    <label>SKU :</label>
	    <input type="text" id="sku" name="sku" placeholder="sku"/>
    	<hr>
    </div>
        <div style="width:450px">
	    <label>Price :</label>
	    <input type="text" id="price" name="price" placeholder="10.99"/>
    	<hr>
    </div>
    
    
    <div style="450px">
    	<button type='submit' name ="submit" onClick="return check(); return false;">Upload</button>
    </div>	

    	</div>
 </form>
</body>
</html>
