<!DOCTYPE html>
<html>
<head>
  <title>Import Page</title>

</head>
<body>

  <h2>Bulk Products Import</h2>

  <form method="GET" action="import">
    
   

<div id="container" style="width:500px">
	
	    <div style="width:450px">
	    <label>store url</label>
	    <input type="text" name="shop" placeholder="mystore.shopify.com"/>
    	<hr>
    </div>

    <div style="width:450px">
	    <label>API_KEY</label>
	    <input type="text" name="key" placeholder="2345678"/>
    	<hr>
    </div>
    
    <div style="width:450px">
	    <label>API_PASSWORD</label>
	    <input type="password" name="password" placeholder="2345678"/>
    	<hr>
    </div>


	

    	</div>
 </form>
</body>
</html>
